.navbar {
    background-color: #0CCAF2;
    
}

.footer {
    background-color: #0CCAF2;
    text-align: center;
    color: white;

}

.form {
    background-color: black;
    text-align: center;
    padding: 20px;


}

.mb-3 {
    color: white;
}


.card-text{
    background-color: #0CCAF2;
}

.fondo {
    background-color: black;
    
}

.dream{
    background-color: #0CCAF2;
    
}

.fot {
    color: white;
    text-align: start;
}

.text-center{
    color: white;
}

.example{
    text-align: start;
    position: initial;
}