.banner{
    text-align: start;
}

.footer {
    background-color: #0CCAF2;
    text-align: center;
    color: white;
    padding: 20px;

}

.form {
    background-color: black;
    text-align: start;
    padding: 20px;
    color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.card-text{
    background-color: #0CCAF2;
    color: white;
}

.fondo {
    background-color: black;
    
}

.dream{
    background-color: #0CCAF2;
    display: flex;
    align-items: center;
    
}

.fot {
    color: white;
    text-align: start;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.text-center{
    color: white;
}

.example{
    text-align: start;
    position: initial;
}

* {
    margin: 0%;
    
}

.tarjetas {
    background-color: black;
    padding: 20px;
}

.intermedio {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card img {
    max-width: 100%;
}

.card-body {
    padding: 0%;
}

.card-body p {
    color: white;
}

.tarjeta {
    background-color: #0CCAF2;
    border: none;
}

.card.text-bg-info-emphasis {
    background-color: #0CCAF2;
      border: none;
}

.card.text-white.bg-info-emphasis {
    background-color: black;
    border: none;
}

.card-body.text-center {
    background-color: #0CCAF2;
    color: white;
    padding: 20px;
}

.card-body.text-center {
    background-color: #0CCAF2;
    color: white;
    padding: 20px;
}

.card_body_icon {
    color: white;
    padding: 20px;
}

.texto {
    background-color: white;
}


.card.text-white.bg-dark {
    background-color: black;
}

.card.text-white.bg-dark .card-body.text-center {
    background-color: black;
    color: white;
    padding: 20px;
}

.card.text-white.bg-dark .card-body.text-center i {
    color: #0CCAF2;
}

.card {
    background-color: black;
    color: white;
    border: none;
}

.card-body {
    padding: 20px;
}

.texto {
    background-color: black;
    color: white;
    padding: 20px;
}

.card-body.text-center {
    background-color: #0CCAF2;
    color: white;
    padding: 20px;
}

.card-body.text-center i {
    color: white;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

}
    
