.navbar {
    background-color: #0CCAF2;
    
}

.footer {
    background-color: #0CCAF2;
    text-align: center;
    color: white;

}

.form {
    background-color: black;
    text-align: center;

}

.mb-3 {
    color: white;
}


.card-text{
    background-color: #0CCAF2;
}

.quien{
    background-color: black;
}

.dream{
    background-color: #0CCAF2;
}